{% extends 'base.html' %}
{% block content %}
        <center><h1>PRODUCTS</h1></center>
        <div class="container">
            <div class="row">
                {% for cake in cakes %}
                <div class="col">
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card" style="width: 18rem;">
                            <img src="{{cake.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{cake.name}}</h5>
                                <h6 class="card-price">{{cake.price}} per kg </h6>
                                <p class="card-text">{{cake.description}}</p>
                                <a href="/order/" class="btn btn-primary">ORDER</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
